@charset "UTF-8";

@media only screen and (max-width: 950px){
    .card {
        width: 85%;
    }

    .right-login {
        width: 45%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 600px) {

    body * {
        box-sizing: border-box;
    }

    main {
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .left-image {
        width: 45vw;
    }

    .card {
        width: 90%;
    }
}